# Mac OS specific #
*.DS_Store

# IDE specific #
.idea/
interface_admin/build/
interface_admin/dist/
interface_admin/nbproject/*
!interface_admin/nbproject/project.properties
!interface_admin/nbproject/project.xml

# Class files #
*.class

# Package files #
*.jar
*.war

# Dump files #
sh.exe.stackdump
