<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="language"  content="fr"/>
        <meta name="author"    content="EcologU"/>
        <meta name="publisher" content="EcologU"/>
        <meta name="copyright" content="EcologU"/>
        <script type="text/javascript" src="/interface_admin/static/javascript/jquery-2.0.0.js"></script>
        <script type="text/javascript" src="/interface_admin/static/javascript/bootstrap.js"></script>
        <script type="text/javascript" src="/interface_admin/static/javascript/showHideObject.js"></script>
        <script type="text/javascript" src="/interface_admin/static/javascript/validatePhone.js"></script>
        <link rel="stylesheet" type="text/css" href="/interface_admin/static/css/bootstrap.css"/>
        <link rel="shortcut icon" href="/interface_admin/static/images/logo.png"/>
        <title>Authentification</title>
    </head>
    
    <body>
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">Authentifiez-vous:</h2>
                <input type="text" class="input-block-level" placeholder="Login">
                <input type="password" class="input-block-level" placeholder="Mot de Passe">
                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>
